{% extends "base.html" %}

{% block content %}
    <br/>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ object }}</h3>
            </div>
            <div>
                </br>
                Average Rating:
            </div>
            <div class="panel-body">
                {% for rating in object.rating_set.all %}
                    <a href="{% url 'user_detail' rating.rater.id %}">{{ rating.rater }} - Rating: {{ rating.rating }} </br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}